<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h2 class="others-title">
      BlenderとUnityでCluster用の.vrmファイルを作成する
      <hr />
    </h2>
    <h4 class="others-title-keywords">cluster, unity, blender</h4>
    <h3 class="others-title-abstract">
      clusterでは自前モデルをサポートしているけど制限が多くて使えない！って時に、BlenderとUnityを使って自前モデルを圧縮して使えるようにするというお話です。何番煎じかわからないですが、自分の備忘録ということで...
    </h3>
  </div>




  <div class="others-body-layout">

    <div class="others-section">
      <h3 class="others-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='others-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>