<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2020-07-11　<i class="fas fa-sync-alt"></i> 2020-09-12
    </h6>
    <h1 class="project-title">
      ページタイトルはここに書きます
      <a class="project-title-link" href="https://github.com/youseegreen" new="_blank">リンクページはこれです。</a>
      <hr />
    </h1>
    <h3 class='project-title-publication'>(IEEE Access 2020, IEEE World Haptics 2019 Poster, Demo)</h3>
    <h3 class="project-title-keywords">雑談, キーワードはここに羅列します</h3>
    <h2 class="project-title-abstract">アブストラクトはここに書きます。このページはブログ記事のテンプレートページです。改行は<br />br \を用います。
    </h2>
  </div>




  <div class="project-body-layout">


    <div class="project-section">
      <h3 class="project-sub-title">
        見出し1
        <a class="project-sub-title-link" href="https://github.com/youseegreen" new="_blank">です。</a>
        <hr />
      </h3>

      <div class='project-body'>
        Unityでc++のコードを利用する際にNative
        Pluginを利用する方法があるのですが、如何せんDebugが面倒くさい。<br />
        Unityを起動しながらDebugする方法も紹介されていますが、この記事では、Unityと連携させる前の段階で使えるであろう方法を紹介しておきます。
      </div>

      <div class='project-body'>
        研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、
        いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
      </div>

      <div class="mb-4"></div>

      <div class='project-body'>
        大きめの改行はother-bodyとother-bodyの間にdiv class"mb-x"を挟むことで実現します。
        また、リンクは<a href="https://youseegreen.github.io" class="other-body-link">other-body-link</a>を使います。
        強調したい箇所は<b class="project-body-strong">bタグ＋project-body-strong</b>を使います。
      </div>

    </div>


    <div class="project-section">
      <h3 class="project-sub-title">
        見出し2
        <a class="project-sub-title-link" href="https://github.com/youseegreen" new="_blank">です。</a>
        <hr />
      </h3>

      <div class='project-body'>
        Unityでc++のコードを利用する際にNative
        Pluginを利用する方法があるのですが、如何せんDebugが面倒くさい。<br />
        Unityを起動しながらDebugする方法も紹介されていますが、この記事では、Unityと連携させる前の段階で使えるであろう方法を紹介しておきます。
      </div>

      <div class='project-body'>
        研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、
        いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
      </div>

      <div class="mb-5"></div>

      <div class='project-body'>
        研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、
        いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
      </div>

    </div>


    <div class="project-section">
      <h3 class="project-sub-title">
        見出し3
        <a class="project-sub-title-link" href="https://github.com/youseegreen" new="_blank">です。</a>
        <hr />
      </h3>

      <div class='project-body'>
        シェッフェの一対比較法（浦の変法）を使っている他の論文の参考文献を見ると、
      </div>

      <h3 class='project-body mt-3 mb-3 ml-5'>
        - S. Ura, "An Analysis of a Paired Comparison Experiment," Quality Control, Vol.16, pp.78-80 (1959). (in
        Japanese)
      </h3>

      <div class='project-body'>
        とよく引かれていたのですが、調べてみるとどうやら品質管理で1959年に第16巻は出版されていなさそう...<br />
        真相を明らかにすべく、品質管理が揃っている阪大吹田キャンパスの図書館に直行。
      </div>

    </div>





    <div class="project-section">
      <h3 class="project-sub-title">
        画像の
        <a class="project-sub-title-link" href="https://github.com/youseegreen" new="_blank">貼り方</a>
        <hr />
      </h3>

      <div class='project-body'>
        画像の貼り方については、挿入したいところで、
        project-imageを使います。
      </div>

      <div class="project-image-layout">
        <div class="row">
          <div class="col-md-4">
            <div class="project-image">
              <img src="images/project/scheffe-ura-version/title.jpg" style="max-width: 300px;">
            </div>
          </div>
          <div class="col-md-4 offset-md-2">
            <div class="project-image">
              <img src="images/project/scheffe-ura-version/title.jpg" style="max-width: 300px;" alt="浦の変法、原文">
            </div>
          </div>
        </div>
      </div>


      <h3 class='project-body mt-3 mb-3 ml-5'>
        - S. Ura, "An Analysis of a Paired Comparison Experiment," Quality Control, Vol.16, pp.78-80 (1959). (in
        Japanese)
      </h3>

      <div class='project-body'>
        とよく引かれていたのですが、調べてみるとどうやら品質管理で1959年に第16巻は出版されていなさそう...<br />
        真相を明らかにすべく、品質管理が揃っている阪大吹田キャンパスの図書館に直行。
      </div>

    </div>
  </div>
</div>