<header id="page-top" data-spy="scroll">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navbar-background fixed-top">
    <mdb-navbar-brand class="navbar-brand">
      <h1>
        <a id=logo routerLink="/" routerLinkActive="active">
          <img src="images/logos/yushi-sato-white.png" alt="Yushi Sato" height="55px">
        </a>
      </h1>

    </mdb-navbar-brand>

    <links>
      <div class="navbar-nav navbar-right">
        <a class="nav-item nav-link waves-light" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a class="nav-item nav-link waves-light" routerLink="/projects" routerLinkActive="active">Projects</a>
        <a class="nav-item nav-link waves-light" routerLink="/publications" routerLinkActive="active">Publications</a>
        <a class="nav-item nav-link waves-light" routerLink="/others" routerLinkActive="active">Others</a>
      </div>
    </links>
  </mdb-navbar>
</header>