<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span class="copyright">
            &copy; Yushi Sato's HP All Rights Reserved.
          </span>
        </div>
        <div class="mx-auto">
          <!--
          <span>
            <a href="http://www.osaka-u.ac.jp/anniversary2021" target="_new" style="text-decoration: none;">
              <img src="images/logos/osaka-u-logo-90th-transparent.svg" style="width: 30px;" class="m-2">
            </a>
          </span>
          <span>
            <a href="http://www.osaka-u.ac.jp/" target="_new" target="_new" style="text-decoration: none;">
              <img src="images/logos/osaka-u-logo-transparent.svg" style="width: 30px;" class="m-2">
            </a>
          </span>
      -->
        </div>
      </div>
    </div>
  </div>
</footer>