<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2021-2-15</h6>
    <h1 class="others-title">
      DesktopHand
      <hr />
    </h1>
    <h3 class="others-title-keywords">その他</h3>
    <h2 class="others-title-abstract">
      デスクトップ画面を自分の手のように操作するアプリを開発しました。<br />
      いずれ公開する予定です...<br />
    </h2>
  </div>




  <div class="others-body-layout">

    <div class="others-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="others-image">
            <img src="images/others/puyobase/teaser1.gif" style="width: 100%; max-width: 800px;" alt="DesktopHand">
          </div>
        </div>
        <div class="col-md-12">
          <div class="others-image">
            <img src="images/others/puyobase/teaser2.gif" style="width: 100%; max-width: 800px;" alt="ドラッグ">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>