<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2022-3-27</h6>
    <h1 class="others-title">
      Windowsでデスクトップ壁紙を動く壁紙にするソフト
      <hr />
    </h1>
    <h3 class="others-title-keywords">その他</h3>
    <h2 class="others-title-abstract">
      Windowsでデスクトップ壁紙を動く壁紙にするソフトを作成しました。<br />
      動画ファイルの他、カメラも壁紙にできます。<br /><br />
      詳細はこちら！ <a href="https://github.com/youseegreen/DesktopMovie/"
        class="others-body-link">https://github.com/youseegreen/DesktopMovie/</a>
    </h2>
  </div>


  <!-- <div class="others-body-layout">

    <div class="others-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="others-image">
            <img src="images/others/desktop-movie/teaser.png" style="width: 100%; max-width: 800px;" alt="動く壁紙">
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>