<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h3 class="headline">Materials / 資料
        <hr />
      </h3>
    </div>
  </div>

  <div id="soundtexture-eh">
    <h4>Supplemental Material of "Sound Texture Feedback for a Projected Extended Hand Interface"</h4>

    <ul>
      <li>sound texture of the carpet: <a href="data/soundtexture_carpet.wav" download="">soundtexture_carpet.wav</a></li>
      <li>sound textures of the bumpy board: <a href="data/soundtextures_bumpyboard.zip" download="">soundtextures_bumpyboard.zip</a></li>
      <li>unit sound texture of the bumpy board: <a href="data/unit_soundtexture_bumpyboard.wav" download="">unit sound texture of the bumpy board</a></li>
    </ul>
  </div>

<div class="mb-5"></div>