<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2020-07-17　<i class="fas fa-sync-alt"></i> 2020-07-17
    </h6>
    <h2 class="others-title">
      シェッフェの一対比較法（浦の変法）の元論文について
      <hr />
    </h2>
    <h4 class="others-title-keywords">その他</h4>
    <h3 class="others-title-abstract">
      研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、<br />
      いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
    </h3>
  </div>




  <div class="others-body-layout">

    <div class="others-section">
      <h3 class="others-sec-title">
        問題
        <hr />
      </h3>

      <div class='others-body'>
        シェッフェの一対比較法（浦の変法）を使っている他の論文の参考文献を見ると、
      </div>

      <h3 class='others-body mt-3 mb-3 ml-5'>
        - S. Ura, "An Analysis of a Paired Comparison Experiment," Quality Control, Vol.16, pp.78-80 (1959). (in
        Japanese)
      </h3>

      <div class='others-body'>
        とよく引かれていたのですが、調べてみるとどうやら品質管理で1959年に第16巻は出版されていなさそう...<br /><br />
        真相を明らかにすべく、品質管理が揃っている阪大吹田キャンパスの図書館に直行。
      </div>
    </div>


    <div class="others-section">
      <h3 class="others-sec-title">
        調査結果
        <hr />
      </h3>

      <div class='others-body'>
        1959年2月10日に発行された品質管理、第10巻、第2号のpp. 78-80に浦先生の変法が載っていました。<br />
        ですので、この論文を引く際は、
      </div>

      <h3 class='others-body mt-3 mb-3 ml-5'>
        - 浦昭二, 1対比較実験の解析, 品質管理, Vol. 10, No. 2, pp. 78-80, 1959.<br />
        <div class="mb-3"></div>
        - Syoji Ura, "An Analysis of a Paired Comparison Experiment," Statistical Quality Control, Vol. 10, No. 2, pp.
        78-80, 1959. (in Japanese)
      </h3>

      <div class='others-body'>
        などとした方がよいでしょう。
      </div>


      <div class="others-image-layout">
        <div class="row">
          <div class="col-md-6">
            <div class="others-image">
              <img src="images/others/scheffe-ura-version/title.jpg" style="max-width: 300px;" alt="品質管理、10巻、2号">
            </div>
          </div>
          <div class="col-md-6">
            <div class="others-image">
              <img src="images/others/scheffe-ura-version/content.jpg" style="max-width: 300px;" alt="浦の変法、原文">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>