.others-image
{
  width: 100%;
}

.others-title
{
  text-align: left;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: bold;
}

.others-publication
{
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto';
}

.others-abstract
{
  text-align: left;
  font-size: 12px;
  font-family: 'Roboto';
}

.others-collaboration
{
  text-align: left;
  font-size: 12px;
  font-family: 'Roboto';
}

.others-link
{
  color: #058c36;
  text-decoration: none;
}

.others-link:link
{
  color: #058c36;
  text-decoration: none;
}

.others-link:visited
{
  color: #058c36;
  text-decoration: none;
}

.others-link:hover
{
  color: #005920;
  text-decoration: underline dotted;
}