<div class="container">
  <div class="saikoku33-title-layout">
    <h1 class="saikoku33-title">
      二十五番寺：御嶽山 播州清水寺
      <hr />
    </h1>
    <h3 class="saikoku33-title-keywords">所在地：兵庫県 宝塚市</h3>
    <h3 class="saikoku33-title-keywords">訪問日：2021年6月26日</h3>
    <img class="saikoku33-image" src="images/galleries/saikoku33/24_teaser.jpg">
  </div>
</div> 

<div class="container">
  <div class="saikoku33-title-layout">
    <h6 class="saikoku33-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="saikoku33-title">
      二十五番寺：御嶽山 播州清水寺
      <hr />
    </h1>
    <h3 class="saikoku33-title-keywords">兵庫県 加東市</h3>
    <h3 class="saikoku33-title-keywords">訪問日：2021年10月9日</h3>
    <h2 class="saikoku33-title-abstract">
    </h2>
  </div>


  <div class="saikoku33-body-layout">

    <div class="saikoku33-section">
      <h3 class="saikoku33-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='saikoku33-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>