<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="others-title">
      一番寺：青岸渡寺
      <hr />
    </h1>
    <h3 class="others-title-keywords">和歌山県</h3>
    <h2 class="others-title-abstract">
      TBS
    </h2>
  </div>


  <div class="others-body-layout">

    <div class="others-section">
      <h3 class="others-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='others-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>