<div class="container">
  <div class="saikoku33-title-layout">
    <h6 class="saikoku33-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="saikoku33-title">
      一番寺：那智山 青岸渡寺
      <hr />
    </h1>
    <h3 class="saikoku33-title-keywords">和歌山県 那智勝浦町</h3>
    <h3 class="saikoku33-title-keywords">訪問日：2020年8月1日</h3>
    <h2 class="saikoku33-title-abstract">
      <!-- 朝6時半に東大阪から出発して車を走らせること4時間。
      途中、本州最南端にも立ち寄れた。
      那智の大滝きれい。
      となりの熊野大社も素晴らしい。 -->
    </h2>
  </div>


  <div class="saikoku33-body-layout">

    <div class="saikoku33-section">
      <h3 class="saikoku33-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='saikoku33-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>