<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2020-10-10　<i class="fas fa-sync-alt"></i> 2020-10-10
    </h6>
    <h2 class="others-title">
      abcjsとEasyABCを用いて、midiファイルの楽譜をウェブページで表示してみる
      <hr />
    </h2>
    <h4 class="others-title-keywords">abcjs, javascript, EasyABC, python, 楽譜</h4>
    <h3 class="others-title-abstract">
      手持ちのmidiファイルをウェブページに楽譜として表示して、再生、ダウンロードできるようにしたかったので試してみた結果。</br>
      midiファイルをEasyABCを使ってabc記譜法に変換し、それをabcjsに渡して、楽譜として表示、再生します。</br>
      （あまり上手くいきませんでした...）
    </h3>
  </div>




  <div class="others-body-layout">

    <div class="others-section">
      <h3 class="others-sec-title">
        準備
        <hr />
      </h3>

      <div class='others-body'>
        空のディレクトリを作成。</br>
        を参考に、ファイルをダウンロードします。
        フォルダ構成は下のような感じ。
      </div>
    </div>


    <div class="others-section">
      <h3 class="others-sec-title">
        ファイルの書き換え
        <hr />
      </h3>

      <div class='others-body'>
        しばしお待ちください。
      </div>
    </div>


    <div class="others-section">
      <h3 class="others-sec-title">
        プログラムの実行
        <hr />
      </h3>

      <div class='others-body'>
        しばしお待ちください。
      </div>
    </div>

    <div class="others-section">
      <h3 class="others-sec-title">
        結果
        <hr />
      </h3>

      <div class='others-body'>
      </div>

      <div class='others-body'>
        EasyABCのmidi2abc.pyが、パートごとに楽譜を分けることや、アルペジオなど特殊な記号に対応していないので、そのあたりを修正する必要がありそうですね...
      </div>
    </div>

  </div>
</div>