<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2020-10-29</h6>
    <h1 class="others-title">
      ぷよべ～す（ぷよ譜生成ソフト）の公開
      <hr />
    </h1>
    <h3 class="others-title-keywords">その他</h3>
    <h2 class="others-title-abstract">
      ぷよぷよの対戦動画からぷよ譜を自動生成する＆生成したぷよ譜を再生するソフトを公開しました。<br />
      今後もどんどん改良予定なので、是非一度見てみてください。<br /><br />
      詳細はこちら！（ <a href="https://github.com/youseegreen/PuyoBase/"
        class="others-body-link">https://github.com/youseegreen/PuyoBase/</a> ）
    </h2>
  </div>




  <div class="others-body-layout">

    <div class="others-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="others-image">
            <img src="images/others/puyobase/teaser.png" style="max-width: 800px;" alt="ぷよべ～す">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>