<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2021-07-08</h6>
    <h1 class="project-title">
      Responsive-ExtendedHand : 投影バーチャルハンドの実物体接触に対して適切な視覚効果を付与するシステム
      <hr />
    </h1>

    <h3 class="project-title-keywords">Keywords : projected virtual hand, pseudo-haptic feedback, deep learning</h3>
    <h2 class="project-title-abstract">
      <a routerLink="/projects/eh_phf" routerLinkActive="active" class="project-link">
      「投影バーチャルハンドインタフェースに対する疑似触覚フィードバックの応用」</a>
      では、物体に触れた際にその物体に適した視覚効果を付与することで、
      疑似触覚フィードバックによりユーザは触れた物体の触感を知覚できることを明らかにしました。
      一方、この手法を実際に利用する場合、事前に手動で物体位置と付与する視覚効果を設定しておく必要がありました。
      そこで本研究では、実環境観測用のRGB-Dカメラと深層学習技術を組み合わせ、
      バーチャルハンドの触れた物体に対して適切な視覚効果をリアルタイムに推定し、バーチャルハンドに付与するシステムを開発しました。
    </h2>

    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <img src="images/projects/responsive_eh.jpg" style="width: 95%; max-width: 560px;">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="project-body-layout">

    <div class="project-section">
      <h3 class="project-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='project-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>