<div class="container">
    <div class="project-title-layout">
      <h6 class="project-title-date">2024-02-29&emsp;<i class="fas fa-sync-alt"></i> 2024-03-08</h6>
      <h1 class="project-title">
        Responsive-ExtendedHand: Adaptive Visuo-Haptic Feedback Recognizing Object Property with RGB-D Camera for Projected Extended Hand<hr />
      </h1>
  
      <h3 class="project-title-keywords">Keywords : projected virtual hand, pseudo-haptic feedback, deep learning</h3>
      <h2 class="project-title-abstract">
          In the project of <a routerLink="/projects/eh_phf" routerLinkActive="active" class="project-link">"pseudo-haptic feedback for projected extended hand,"</a> we demonstrated that users can perceive the tactile sensation of touched objects by applying appropriate visual effects when the virtual hand touched those objects. However, in practical usage, it is necessary to manually set the positions of objects and the corresponding visual effects beforehand. In this project, we developed a system that combines an RGB-D camera for scene observation with deep learning techniques to estimate suitable visual effects for objects touched by the virtual hand in real-time, thus enabling automatic application of visual effects to the virtual hand.
      </h2>
  
      <div class="project-image-layout">
        <div class="row">
          <div class="col-md-12">
            <div class="project-image">
              <img src="images/projects/responsive_eh.jpg" style="width: 95%; max-width: 560px;">
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="project-body-layout">
      <div class="project-section">
        <h3 class="project-sec-title">
          Publications
          <hr />
        </h3>
  
        <div class='project-body'>
          <ul>
            <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Responsive-ExtendedHand: Adaptive Visuo-Haptic Feedback Recognizing Object Property with RGB-D Camera for Projected Extended Hand," <i>IEEE Access</i>, Vol. 12, pp. 38247-38257, 2024.&nbsp;
            <a href='https://ieeexplore.ieee.org/document/' class='project-link' target="_new">[IEEE Eplore]</a>&nbsp;
            <span class='project-link' (click)="copy_bibtex('responsive_eh');">[Bibtex]</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  