<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="headline mb-2">Gallery / ギャラリー
        <hr />
      </h3>
    </div>
  </div>


  <div class="row">
    <div class="col home-body mb-2 ml-2">
      　旅の記録などをまとめていきます（多分...）
    </div>
  </div>
  <!-- <div class="row">
    <div class="col galleries-body mb-2 ml-2">
      　フォトギャラリーです。
    </div>
  </div>
  <div class="row">
    <div class="col galleries-body mb-2 ml-2">
      　記事について質問やコメント等あれば、メールやTwitter等でご連絡ください。
    </div>
  </div> -->

</div>


<div class="container">

  <div id="galleries" class="galleries-body"></div>


  <div id="cardlayout-wrap">
    <section class="card">
      <img class="card-img" src="images/galleries/saikoku33_teaser.jpg" alt="西国三十三か所めぐり">
      <div class="card-content">
        <h1 class='galleries-title'>
          <a routerLink="saikoku33/" routerLinkActive="active" class="galleries-link">西国三十三か所めぐり</a>
        </h1>
      </div>
    </section>
    <div class='row mb-5'></div>

    <section class="card">
      <img class="card-img" src="images/galleries/manholes_teaser.jpg" alt="マンホール">
      <div class="card-content">
        <h1 class='galleries-title'>
          <a routerLink="manholes/" routerLinkActive="active" class="galleries-link">マンホール図鑑</a>
        </h1>
      </div>
    </section>
    <div class='row mb-5'></div>

    <!-- <section class="card">
      <img class="card-img" src="images/galleries/trips_teaser.jpg" alt="旅行記">
      <div class="card-content">
        <h1 class='galleries-title'>
          <a routerLink="trips/" routerLinkActive="active" class="galleries-link">旅行記</a>
        </h1>
      </div>
    </section>
    <div class='row mb-5'></div> -->


  </div>

  <div class="mb-5"></div>