<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="headline mb-5">Gallery / ギャラリー
        <hr />
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col galleries-body mb-2 ml-2">
      　フォトギャラリーです。
    </div>
  </div>
  <div class="row">
    <div class="col galleries-body mb-2 ml-2">
      　記事について質問やコメント等あれば、メールやTwitter等でご連絡ください。
    </div>
  </div>

</div>


<div class="container">

  <div id="galleries" class="galleries-body"></div>
  <div class='row mb-5'></div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='galleries-title'>
        <a routerLink="/galleries/saikoku33" routerLinkActive="active" class="galleries-link">西国三十三所めぐり</a></div>
      <div class='galleries-keyword'>(雑談)</div>
      <div class='galleries-abstract mt-3 ml-2'>
        西国三十三所めぐりのログ。
      </div>
    </div>
  </div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='galleries-title'>
        <a routerLink="/galleries/manholes" routerLinkActive="active" class="galleries-link">マンホール</a></div>
      <div class='galleries-keyword'>(雑談)</div>
      <div class='galleries-abstract mt-3 ml-2'>
        マンホールのログ。
      </div>
    </div>
  </div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='galleries-title'>
        <a routerLink="/galleries/first-trip" routerLinkActive="active" class="galleries-link">はじめての旅</a></div>
      <div class='galleries-keyword'>(雑談)</div>
      <div class='galleries-abstract mt-3 ml-2'>
        はじめての旅のログ。
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>