<div class="container">
  <div class="saikoku33-title-layout">
    <h6 class="saikoku33-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="saikoku33-title">
      二十三番寺：応頂山 勝尾寺
      <hr />
    </h1>
    <h3 class="saikoku33-title-keywords">大阪府 箕面市</h3>
    <h3 class="saikoku33-title-keywords">訪問日：2021年6月26日</h3>
    <h2 class="saikoku33-title-abstract">
    </h2>
  </div>


  <div class="saikoku33-body-layout">

    <div class="saikoku33-section">
      <h3 class="saikoku33-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='saikoku33-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>