<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2021-07-08
    </h6>
    <h1 class="project-title">
      投影バーチャルハンドインタフェースに対する疑似触覚フィードバックの応用
      <hr />
    </h1>

    <h3 class="project-title-keywords">Keywords : projected virtual hand, pseudo-haptic feedback, tactile sensation</h3>
    <h2 class="project-title-abstract">
        ユーザの手の動きに連動して動くバーチャルハンドをプロジェクタから投影する投影バーチャルハンドインタフェースは、
				日常生活でのユーザの手の届く範囲を拡張することができます。
				しかし、投影バーチャルハンドが実物体に重なった際、ユーザはその物体に触れている感覚を得られません。
				本プロジェクトでは、投影バーチャルハンドが実物体に触れた際に、バーチャルハンドに視覚効果を付与することで、
				疑似触覚フィードバックによりユーザにその物体の触感を知覚させる手法を提案しました。
    </h2>

    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <img src="images/projects/eh_phf.gif" style="width: 95%; max-width: 560px;">
          </div>
        </div>
      </div>
    </div>


    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <iframe width="560" height="315" style="width: 95%; max-width: 560px;" src="https://www.youtube.com/embed/jJuDirkXyRI" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>




  <div class="project-body-layout">

    <div class="project-section">
      <h3 class="project-sec-title">
        Publications
        <hr />
      </h3>

      <div class='project-body'>
        <ul>
        <li>Yushi Sato, Takefumi Hiraki, Naruki Tanabe, Haruka Matsukura, Daisuke Iwai, and Kosuke Sato,
          "Modifying Texture Perception with Pseudo-Haptic Feedback for a Projected Virtual Hand Interface," <i>IEEE
            Access</i>, Vol. 8, pp. 120473-120488, 2020.&nbsp;
            <a href='https://ieeexplore.ieee.org/document/9130660' class='project-link' target="_new">[IEEE Eplore]</a>&nbsp;
            <span class='project-link' (click)="copy_bibtex('access');">[Bibtex]</span></li>
            <li>Yushi Sato, Naruki Tanabe, Kohei Morita, Takefumi Hiraki, Parinya Punpongsanon, Haruka Matsukura,
              Daisuke Iwai, and Kosuke Sato, "Pseudo-Haptic Feedback in a Projected Virtual Hand for Tactile Perception of
              Textures," In <i>Adjunct Proceedings of the 2019 IEEE World Haptics Conference (WHC 2019)</i>, pp.WP1P.09:1-2, July, 2019.&nbsp;
              <span class='project-link' (click)="copy_bibtex('whc')">[Bibtex]</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
