<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2024-02-19</h6>
    <h1 class="project-title">Sound Texture Feedback ExtendedHand<hr /></h1>

    <h3 class='project-title-publication'>(IEEE Access 2024)</h3>
    <h3 class="project-title-keywords">Keywords: projected extended hand, cross-modal effect, sound texture, pseudo-haptics</h3>
    <h2 class="project-title-abstract">				本プロジェクトでは、視覚効果だけでなく、物体の触音（凸凹した物体をなぞった際のガタガタ音など）から物体の触感を生起させることに着目しました。この際にExtendedHandでは、ユーザは自分の手の届かない遠くの物体に、自分の手の移動量が増幅された投影拡張手で触れるという、実際の手で物体に触れる状況とは大きく異なる体験をします。このような場面で、触音フィードバックが物理現象に基づくべきか、別の拡張現実感法則に基づくべきかを調査しました。結果、触音音圧は物理現象と同様の距離減衰を適用すべきである一方、投影拡張手が速さVで物体をなぞった際には、それよりもゆっくりと手でなぞった際に発生する触音を提示すべきことが明らかになりました。
    </h2>
  </div>

  <div class="project-image-layout">
    <div class="row">
      <div class="col-md-12">
        <div class="project-image">
          <img src="images/projects/soundtexture_eh.jpg" style="width: 95%; max-width: 560px;">
        </div>
      </div>
    </div>
  </div>

  <div class="project-body-layout">
    <div class="project-section">
      <h3 class="project-sec-title">
        Publications
        <hr />
      </h3>

      <div class='project-body'>
        <ul>
          <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Sound Texture Feedback for a Projected Extended Hand Interface," <i>IEEE Access</i>, Vol. 12, pp. 27673-27682, February, 2024.&nbsp;
          <a href='https://ieeexplore.ieee.org/document/10440090' class='project-link' target="_new">[IEEE Eplore]</a>&nbsp;
          <span class='project-link' (click)="copy_bibtex('soundtexture-eh');">[Bibtex]</span></li>
        <div style="margin-left: 1em; margin-top: 1em;"><b>Supplemental Material</b></div>
        <ul style="margin-left: 1em">
          <li>sound texture of the carpet: <a href="data/soundtexture_carpet.wav" download="">soundtexture_carpet.wav</a></li>
          <li>sound textures of the bumpy board: <a href="data/soundtextures_bumpyboard.zip" download="">soundtextures_bumpyboard.zip</a></li>
          <li>unit sound texture of the bumpy board: <a href="data/unit_soundtexture_bumpyboard.wav" download="">unit sound texture of the bumpy board</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
