<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2024-02-29</h6>
    <h1 class="project-title">Sound Texture Feedback ExtendedHand<hr /></h1>

    <h3 class='project-title-publication'>(IEEE Access 2024)</h3>
    <h3 class="project-title-keywords">Keywords: projected extended hand, cross-modal effect, sound texture, pseudo-haptics</h3>
    <h2 class="project-title-abstract">In this project, we focused on generating tactile sensations from the sounds produced when tracing textured surfaces (such as the rough sound when tracing a bumpy object). In the case of ExtendedHand, users experience a significantly different sensation from physically touching objects when they use the projected extended hand, which amplifies the movement of their hand to reach distant objects that their actual hand cannot reach. In such scenarios, we investigated whether tactile sound feedback should be based on physical phenomena or on different augmented reality principles.
    </h2>
  </div>

  <div class="project-image-layout">
    <div class="row">
      <div class="col-md-12">
        <div class="project-image">
          <img src="images/projects/soundtexture_eh.jpg" style="width: 95%; max-width: 560px;">
        </div>
      </div>
    </div>
  </div>

  <div class="project-body-layout">
    <div class="project-section">
      <h3 class="project-sec-title">
        Publications
        <hr />
      </h3>

      <div class='project-body'>
        <ul>
          <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Sound Texture Feedback for a Projected Extended Hand Interface," <i>IEEE Access</i>, Vol. 12, pp. 27673-27682, February, 2024.&nbsp;
          <a href='https://ieeexplore.ieee.org/document/10440090' class='project-link' target="_new">[IEEE Eplore]</a>&nbsp;
          <span class='project-link' (click)="copy_bibtex('soundtexture-eh');">[Bibtex]</span></li>
        <div style="margin-left: 1em; margin-top: 1em;"><b>Supplemental Material</b></div>
        <ul style="margin-left: 1em">
          <li>sound texture of the carpet: <a href="data/soundtexture_carpet.wav" download="">soundtexture_carpet.wav</a></li>
          <li>sound textures of the bumpy board: <a href="data/soundtextures_bumpyboard.zip" download="">soundtextures_bumpyboard.zip</a></li>
          <li>unit sound texture of the bumpy board: <a href="data/unit_soundtexture_bumpyboard.wav" download="">unit sound texture of the bumpy board</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
