<div class="container">
  <div class="galleries-title-layout">
    <h6 class="galleries-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="galleries-title">
      はじめての旅です
      <hr />
    </h1>
    <h3 class="galleries-title-keywords">中国地方</h3>
    <h2 class="galleries-title-abstract">
      TBS
    </h2>
  </div>


  <div class="galleries-body-layout">

    <div class="galleries-section">
      <h3 class="galleries-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='galleries-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>