<div class="container">
  <div class="manholes-title-layout">
    <h6 class="manholes-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="manholes-title">
      大阪府のマンホール
      <hr />
    </h1>
    <h3 class="manholes-title-keywords"></h3>
    <h2 class="manholes-title-abstract">
    </h2>
  </div>


  <div class="manholes-body-layout">

    <div class="manholes-section">
      <h3 class="manholes-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='manholes-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>