<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2021-07-08</h6>
    <h1 class="project-title">
      DesktopHand : デスクトップ画面上に表示したバーチャルハンドにより円滑なコミュニケーションを支援するシステム
      <hr />
    </h1>

    <h3 class="project-title-keywords">Keywords : virtual hand</h3>
    <h2 class="project-title-abstract">
      大画面ディスプレイやスクリーンに資料を表示して行う会議や、コロナ禍より急速に機会が増えたオンライン会議などの際に、
      発表資料に対して聞き手が質問やコメントする際はその内容を口頭でしか伝えられず、
      発表者と聞き手間で意思伝達がスムーズに行えないことが多々あります。
      そこで発表資料が表示されているディスプレイ上に、聞き手が自由に操作できるバーチャルハンドを表示して
      ポインティングやジェスチャ表現を可能にすることで、円滑なコミュニケーションを実現するDesktopHandを提案しました。
      （<a class='project-link' href='https://github.com/youseegreen/DesktopHand/'>アプリケーションはこちら</a>）
    </h2>

    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <img src="images/projects/desktophand.jpg" style="max-width: 560px;">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="project-body-layout">

    <div class="project-section">
      <h3 class="project-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='project-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>