<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="headline mb-5">Other / その他
        <hr />
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col others-body mb-2 ml-2">
      　技術系Tipsやちょっとしたメモなどを載せているページです。
    </div>
  </div>
  <div class="row">
    <div class="col others-body mb-2 ml-2">
      　記事について質問やコメント等あれば、メールやTwitter等でご連絡ください。
    </div>
  </div>

</div>


<div class="container">

  <div id="others" class="others-body"></div>
  <div class='row mb-5'></div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='others-title'>
        <a routerLink="/others/scheffe-ura-version" routerLinkActive="active"
          class="others-link">シェッフェの一対比較法（浦の変法）の元論文について</a></div>
      <div class='others-keyword'>(雑談)</div>
      <div class='others-abstract mt-3 ml-2'>
        研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
      </div>
    </div>
  </div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='others-title'>
        <a href="https://youseegreen.github.io/Unity_DesktopMascot_Framework/" routerLinkActive="active"
          class="others-link">Unity_DesktopMascot_Framework</a>
      </div>
      <div class='others-keyword'>(Unity)</div>
      <div class='others-abstract mt-3 ml-2'>
        UnityでDesktop
        Mascotを作る際に1.常に最前面、2.透明部をクリックすると下のウィンドウに反応、3.非透明部（キャラ）をクリックするとマスコットのみに反応、を軽量で作る方法です。そんなにまとまっていないので、いつかまとめます。
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>