<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="headline mb-5">Manhole / マンホール
        <hr />
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col manholes-body mb-2 ml-2">
      　僕が全国各地で撮影したマンホールを紹介するだけのサイト。<br />
      適切でない例も含まれている可能性があることを承知ください。
    </div>
  </div>

</div>


<div class="container">

  <div id="manholes" class="manholes-body"></div>
  <div class='row mb-5'></div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='manholes-title'>
        <a routerLink="/galleries/manholes/hokkaido" routerLinkActive="active" class="manholes-link">北海道</a></div>

      <div class='manholes-sub-title'>
        <a routerLink="/galleries/manholes/hokkaido?kushiro" routerLinkActive="active" class="manholes-link">釧路</a>
      </div>


      <div class='manholes-abstract mt-3 ml-2'>


        研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、<br />
        いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
      </div>
    </div>
  </div>

  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='manholes-title'>
        <a routerLink="/galleries/manholes/osaka" routerLinkActive="active" class="manholes-link">大阪府</a></div>
      <div class='manholes-keyword'>(雑談)</div>
      <div class='manholes-abstract mt-3 ml-2'>
        研究で得られたデータをシェッフェの一対比較法（浦の変法）で解析する機会があったのですが、<br />
        いざ参考文献を引く際に大元の論文の正確な情報がなかなか見つからなかったので、その時の情報をば。
      </div>
    </div>
  </div>



  <div class='row mb-5'>
    <div class='col-md-12'>
      <div class='manholes-title'>
        <a href="https://youseegreen.github.io/Unity_DesktopMascot_Framework/" routerLinkActive="active"
          class="manholes-link">Unity_DesktopMascot_Framework</a>
      </div>
      <div class='manholes-keyword'>(Unity)</div>
      <div class='manholes-abstract mt-3 ml-2'>
        UnityでDesktop
        Mascotを作る際に1.常に最前面、2.透明部をクリックすると下のウィンドウに反応、3.非透明部（キャラ）をクリックするとマスコットのみに反応、を軽量で作る方法です。そんなにまとまっていないので、いつかまとめます。
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>