<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="headline mb-5">Manhole / マンホール
        <hr />
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col manholes-body mb-2 ml-2">
      　僕が全国各地で撮影したマンホールを紹介するだけのサイト。<br />
      適切でない例も含まれている可能性があることを承知ください。
    </div>
  </div>

</div>


<div class="container">

  <div id="manholes" class="manholes-body"></div>
  <div class='row mb-5'></div>

  <div id="manholes" class="manholes-body"></div>

  <div id="cardlayout-wrap">
    <!-- カードレイアウトをラッピング -->
    <ng-container *ngFor="let res of manholes">
      <section class=" card">
        <img class="card-img" src={{res.photoPass}} alt={{res.city}}>
        <div class="card-content">
          <h1 class='manholes-title'>
            <a routerLink={{res.link}} routerLinkActive="active" class="manholes-link">{{res.city}}</a>
          </h1>
        </div>
      </section>
      <div class='row mb-5'></div>
    </ng-container>
  </div>

</div>