<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2020-xx-xx　<i class="fas fa-sync-alt"></i> 2020-xx-xx
    </h6>
    <h1 class="others-title">
      UnityのNetivePlugin利用でc++上でのDebugを少し便利にしてみる
      <hr />
    </h1>
    <h3 class="others-title-keywords">Unity, Native Plugins, dll, c++</h3>
    <h2 class="others-title-abstract">
      Unityでc++のコードを利用する際にNative
      Pluginを利用する方法があるのですが、如何せんDebugが面倒くさい。Unityを起動しながらDebugする方法も紹介されていますが、この記事では、Unityと連携させる前の段階で使えるであろう方法を紹介しておきます。
    </h2>
  </div>



  <div class="others-body-layout">

    <div class="others-section">
      <h3 class="others-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='others-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>