<div class="container">
  <div class="others-title-layout">
    <h6 class="others-title-date">2022-7-29</h6>
    <h1 class="others-title">
      Powerpointで作った図を楽にpdf化するプログラム
      <hr />
    </h1>
    <h3 class="others-title-keywords">その他</h3>
    <h2 class="others-title-abstract">
      論文作成時には図をpdfファイルで作る必要がありますが、powerpointで作成した図を良い大きさのpdfファイルに変換するのはとても面倒くさいです。<br />
      そこで、Powerpointで作った複数の図を楽にいい感じのpdfファイルに変換するPythonプログラムを作成しました。<br />
      使用ライブラリの都合上、Windows限定かつ未対応な図も存在しますが、割と便利なのでぜひ使ってみてください。<br /><br />
      詳細はこちら！ <a href="https://github.com/youseegreen/pptx2figs/"
        class="others-body-link">https://github.com/youseegreen/pptx2figs/</a>
    </h2>
  </div>


  <div class="others-body-layout">

    <div class="others-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="others-image">
            <img src="images/others/pptx2figs/teaser.png" style="width: 100%; max-width: 800px;" alt="pptx2figs">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>