.others-image
{
  width: 100%;
}



.others-title
{
  text-align: left;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #007641;
}

.others-body
{
  text-align: left;
  font-size: 17px;
  font-family: 'Roboto';
  margin-left: 1em;
}

.others-keyword
{
  text-align: left;
  font-size: 17px;
  font-family: 'Roboto';
}

.others-abstract
{
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto';
}

.others-link
{
  color: #007641;
  text-decoration: none;
}

.others-link:link
{
  color: #058c36;
  text-decoration: none;
}

.others-link:visited
{
  color: #058c36;
  text-decoration: none;
}

.others-link:hover
{
  color: #005920;
  text-decoration: underline dotted;
}