<div class="container">

    <div class="row">
      <div class="col">
        <h3 class="headline mb-1">Manhole / マンホール
          <hr />
        </h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col manholes-body mb-2 ml-2">
        　僕が全国各地で撮影したマンホールを紹介するだけのサイト。<br />
        適切でない例も含まれている可能性があることを承知ください。
        <a routerLink="../manholes/" routerLinkActive="active" class="galleries-link">リストはこちら</a>
      </div>
    </div>

    <div class="map-container">
        <div id="map"></div>
    </div>
</div>