.map-container {
    width: 85%;
    height: 70vh;
    margin: 2% auto;
} 
#map {
    width: 100%; 
    height: 100%; 
    border: 1px solid #ccc; 
}

.manholes-body
{
  text-align: left;
  font-size: 17px;
  font-family: 'Roboto';
  margin-left: 1em;
}

a
{
  color: #007641;
  text-decoration: none;
}

a:link
{
  color: #058c36;
  text-decoration: none;
}

a:visited
{
  color: #058c36;
  text-decoration: none;
}

a:hover
{
  color: #005920;
  text-decoration: underline dotted;
}