<div class="container">

  <div id="home-photo" class="container">
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <!-- Image size should be 1300px * 540px -->
      <!-- #1 -->
      <mdb-carousel-item class="text-align:center;">
        <img class="d-block profile-image-size" src="images/profile/profile_photo.jpg" alt="profile_photo1">
      </mdb-carousel-item>
      <!-- #2 -->
      <mdb-carousel-item>
        <img class="d-block profile-image-size" src="images/profile/profile_photo2.jpg" alt="profile_photo2">
      </mdb-carousel-item>
      <!-- #3 -->
      <mdb-carousel-item>
        <img class="d-block profile-image-size" src="images/profile/profile_photo3.png" alt="profile_photo3">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">氏名
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      佐藤 優志（さとう ゆうし）</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">所属
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      大阪大学 大学院基礎工学研究科 システム創成専攻 システム科学領域 <a href="https://www.sens.sys.es.osaka-u.ac.jp/" style="color:#000"
        target="_new">佐藤研究室</a></div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      日本学術振興会 特別研究員-PD
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">研究興味
        <hr />
      </h3>
    </div>
  </div>
  <div class="row"><div class="col profile-body mb-2 ml-3">Human-Computer Interaction</div></div>
  <div class="row"><div class="col profile-body mb-2 ml-3">Virtual/Augmented/Mixed Reality</div></div>
  <div class="row"><div class="col profile-body mb-2 ml-3">Human Augmentation</div></div>
  <div class="row"><div class="col profile-body mb-2 ml-3">Cross-Modal Effect</div></div>
  <div class="row"><div class="col profile-body mb-2 ml-3">Rubber/Virtual Hand Illusion</div></div>
  <div class="row"><div class="col profile-body mb-2 ml-3">Scene Recognition</div></div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">学歴
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      2017年3月　奈良工業高等専門学校 電子制御工学科 卒業　準学士（工学）</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      2019年3月　大阪大学 基礎工学部 システム科学科 卒業　学士（工学）</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      2021年3月　大阪大学 大学院基礎工学研究科 システム創成専攻 修了　修士（工学）</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      2024年9月　大阪大学 大学院基礎工学研究科 システム創成専攻 修了　博士（工学）</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">学会活動
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      会員：日本バーチャルリアリティ学会、IEEE</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      査読：IEEE Access (2022)、IEEE ToH (2022)、ACM SIGGRAPH Asia (2023)、IEEE ISMAR (2024)、ACM SUI (2024)、ACM SIGGRAPH Asia (2024)、IEEE Access (2024)、AsiaHaptics (2024)、ICAT-EGVE (2024)、IEEE VR (2024)、IEEE TVCG (2024)</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">趣味
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      ぷよぷよ：世界300位程です。</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      将棋：アマ二段程です。</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      旅行：18きっぱー、秘境が好きです。</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      寺社巡り：<a style="color:rgb(0, 80, 0)" routerLink="/galleries/saikoku33">西国三十三か所</a>満願しました。</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      ピアノ：高専から独学で始めました。ラグタイムが好きです。</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      <a style="color:rgb(0, 80, 0)" routerLink="/galleries/manholes">マンホール</a>：旅先で必ず探しています。<a
        href="https://twitter.com/ManholeBeginner" style="color:#000" target="_new">@ManholeBeginner</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="profile-header mt-5">連絡先
        <hr />
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      Tel: 06-6850-6373</div>
  </div>
  <div class="row">
    <div class="col profile-body mb-2 ml-3">
      E-mail: y.sato[at]sens.sys.es.osaka-u.ac.jp</div>
  </div>
</div>

<div class="mb-5"></div>