<div class="container">

    <div id="home-photo" class="container">
      <mdb-carousel [isControls]="true" [animation]="'slide'">
        <!-- Image size should be 1300px * 540px -->
        <!-- #1 -->
        <mdb-carousel-item class="text-align:center;">
          <img class="d-block profile-image-size" src="images/profile/profile_photo.jpg" alt="profile_photo1">
        </mdb-carousel-item>
        <!-- #2 -->
        <mdb-carousel-item>
          <img class="d-block profile-image-size" src="images/profile/profile_photo2.jpg" alt="profile_photo2">
        </mdb-carousel-item>
        <!-- #3 -->
        <mdb-carousel-item>
          <img class="d-block profile-image-size" src="images/profile/profile_photo3.png" alt="profile_photo3">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="profile-header mt-5">Name
          <hr />
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        Yushi Sato</div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="profile-header mt-5">Affiliation
          <hr />
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        <a href="https://www.sens.sys.es.osaka-u.ac.jp/" style="color:#000"
          target="_new">Sato Lab</a>, Graduate School of Engineering Science, Osaka University, JAPAN</div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        <a href="https://www.humanware.osaka-u.ac.jp/" style="color:#000" target="_new">Humanware Innovation Program, Osaka University, JAPAN</a>
      </div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        Japan Society for the Promotion of Science (JSPS) Research Fellow (DC2)
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="profile-header mt-5">Research Interest
          <hr />
        </h3>
      </div>
    </div>
    <div class="row"><div class="col profile-body mb-2 ml-3">Human-Computer Interaction</div></div>
    <div class="row"><div class="col profile-body mb-2 ml-3">Virtual/Augmented/Mixed Reality</div></div>
    <div class="row"><div class="col profile-body mb-2 ml-3">Human Augmentation</div></div>
    <div class="row"><div class="col profile-body mb-2 ml-3">Cross-Modal Effect</div></div>
    <div class="row"><div class="col profile-body mb-2 ml-3">Rubber/Virtual Hand Illusion</div></div>
    <div class="row"><div class="col profile-body mb-2 ml-3">Scene Recognition</div></div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="profile-header mt-5">Education
          <hr />
        </h3>
      </div>
    </div>
    <div class="profile-body ml-3">
      <div class='row mb-2'>
        <div class='col-md-3 pb-1'>04/2021 - now</div>
        <div class='col-md-9'>Graduate School of Engineering Science, Osaka University, JAPAN</div>
      </div>        
      <div class='row mb-2'>
        <div class='col-md-3 pb-1'>04/2019 - 03/2021</div>
        <div class='col-md-9'>Graduate School of Engineering Science, Osaka University, JAPAN</div>
      </div>        
      <div class='row mb-2'>
        <div class='col-md-3 pb-1'>04/2017 - 03/2019</div>
        <div class='col-md-9'>School of Engineering Science, Osaka University, JAPAN</div>
      </div>        
      <div class='row mb-2'>
        <div class='col-md-3 pb-1'>04/2012 - 03/2017</div>
        <div class='col-md-9'>Control Engineering, National Institute of Technology (KOSEN), Nara College, JAPAN</div>
      </div>        
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="profile-header mt-5">Academic Services
          <hr />
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        Member: IEEE, VRSJ (Virtual Reality Society of Japan), IIEEJ (Institute of Image Electronics Engineeris of Japan)</div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        Reviewer: IEEE Access (2022), IEEE ToH (2022), ACM SIGGRAPH Asia (2023), IEEE ISMAR (2024)</div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="profile-header mt-5">Contacts
          <hr />
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        Tel: 06-6850-6373</div>
    </div>
    <div class="row">
      <div class="col profile-body mb-2 ml-3">
        E-mail: y.sato[at]sens.sys.es.osaka-u.ac.jp</div>
    </div>
  </div>
  
  <div class="mb-5"></div>