/*タイトル部分*/
.saikoku33-title-layout
{
  width: 98%;
  margin-right: auto;
  margin-left : auto;
  margin-bottom : 5.0rem;
}

.saikoku33-title
{
  text-align: left;
  font-size: 23px;
  font-weight: bold;
  color: #007641;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.saikoku33-title-date
{
  text-align: left;
  font-size: 16px;
  color: #AAAAAA;
  margin-left: 0.6rem;
}


.saikoku33-title-link
{
  color: #007641;
}

.saikoku33-title-link:hover
{
  color: #005621;
  text-decoration: underline dotted;
}


.saikoku33-title-keywords
{
  text-align: left;
  font-size: 16px;
  color: #444444;
  margin-left: 0.5rem;
  margin-bottom : 3.0rem;
}

.saikoku33-title-abstract
{
  text-align: left;
  font-size: 17px;
  color: #000000;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}




/*本文*/
.saikoku33-body-layout
{
  width: 98%;
  margin-right: auto;
  margin-left : auto;
}

.saikoku33-section
{
  margin-bottom: 5.0rem;
}

.saikoku33-sec-title
{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.saikoku33-sec-title-link
{
  color: #000000;
  text-decoration: underline dotted;
}

.saikoku33-sec-title-link:hover
{
  color: #004611;
}

.saikoku33-body
{
  text-align: left;
  font-size: 17px;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.saikoku33-body-link
{
  color: #000000;
  text-decoration: underline;
}

.saikoku33-body-link:hovor
{
  color: #111111;
  text-decoration: underline dotted;
}

.saikoku33-body-strong
{
  color: #006441;
}

.saikoku33-image-layout
{
  margin-top: 3.0rem;
  margin-bottom: 3.0rem;
}

.saikoku33-image
{
  width: 100%;
  text-align: center;
  margin:0 auto;
}
