<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2021-07-08&emsp;<i class="fas fa-sync-alt"></i> 2024-09-15</h6>
    <h1 class="project-title">
      fARFEEL: 投影拡張手と視触覚フィードバックを用いた遠隔地物体の触感提示
      <hr />
    </h1>

    <h3 class="project-title-keywords">Keywords : projected virtual hand, teleexistence, telepresence, haptic feedback, pseudo-haptic feedback</h3>
    <h2 class="project-title-abstract">
      We present fARFEEL, a remote communication system that provides visuo-haptic feedback allows a local
      user to feel touching distant objects. The system allows the local and remote users to communicate by
      using the projected virtual hand (VH) for the agency of his/her own hands. The necessary haptic
      information is provided to the non-manipulating hand of the local user that does not bother the
      manipulation of the projected VH. We also introduce the possible visual stimulus that could potentially
      provide the sense of the body ownership over the projected VH.
    </h2>

    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <img src="images/projects/farfeel.jpg" style="width: 95%; max-width: 560px;">
          </div>
        </div>
      </div>
    </div>


    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <iframe width="560" height="315" style="width: 95%; max-width: 560px;" src="https://www.youtube.com/embed/WekmX3iYCRI" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>          </div>
        </div>
      </div>
    </div>

  </div>




  <div class="project-body-layout">

    <div class="project-section">
      <h3 class="project-sec-title">
        Publications
        <hr />
      </h3>

      <div class='project-body'>
        <ul>
        <li>Naruki Tanabe, <b>Yushi Sato</b>, Kohei Morita, Michiya Inagaki, Yuichi Fujino, Parinya Punpongsanon,
          Haruka
          Matsukura, Daisuke Iwai, and Kosuke Sato, "fARFEEL: Providing Haptic Sensation of Touched Objects using
          Visuo-Haptic Feedback," In <i>Proceedings of the 26th IEEE Conference on Virtual Reality and 3D User
            Interfaces (IEEE VR 2019)</i>, pp.1355-1356, March, 2019.&nbsp;
            <a href='https://ieeexplore.ieee.org/abstract/document/8798195' class='project-link' target="_new">[IEEE Eplore]</a>&nbsp;
            <span class='project-link' (click)="copy_bibtex('farfeel');">[Bibtex]</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
