<div class="container">
  <div class="saikoku33-title-layout">
    <h1 class="saikoku33-title">
      三十番寺：竹生島 宝厳寺
      <hr />
    </h1>
    <h3 class="saikoku33-title-keywords">所在地：滋賀県 東浅井郡びわ町</h3>
    <h3 class="saikoku33-title-keywords">訪問日：2022年9月24日</h3>
    <img class="saikoku33-image" src="images/galleries/saikoku33/30_teaser.jpg">
  </div>
</div> 

<div class="container">
  <div class="saikoku33-title-layout">
    <h6 class="saikoku33-title-date">2022-11-19　<i class="fas fa-sync-alt"></i> 2022-11-19
    </h6>
    <h1 class="saikoku33-title">
      三十番寺：竹生島 宝厳寺
      <hr />
    </h1>
    <h3 class="saikoku33-title-keywords">滋賀県 東浅井郡びわ町</h3>
    <h3 class="saikoku33-title-keywords">訪問日：2022年9月24日</h3>
    <h2 class="saikoku33-title-abstract">
    </h2>
  </div>


  <div class="saikoku33-body-layout">

    <div class="saikoku33-section">
      <h3 class="saikoku33-sec-title">
        現在、準備中です。
        <hr />
      </h3>

      <div class='saikoku33-body'>
        しばしお待ちください。
      </div>
    </div>
  </div>
</div>