<div class="container mb-4">

    <!-- Image size should be 1300px * 540px -->
    <div id="home-photo" class="container">
      <img class="d-block w-100" src="images/home/home_photo.png" alt="佐藤優志のホームページ'">
    </div>
  </div>
  
  
  <div class="container">
  
    <div class="row">
      <div class="col">
        <h3 class="big-headline mt-4">Links
          <hr />
        </h3>
      </div>
    </div>
  
    <div id="link" class="news-body ml-1">
      <div class="row">
        <div class="col-10 my-2">
          <a href="https://github.com/youseegreen" target="_new">
            <span class="link-link ml-2"><i class='fas fa-link'></i> GitHub</span>
          </a>
        </div>
        <div class="col-10 my-2">
          <a href="https://www.linkedin.com/in/yushi-sato-5360b32b4/" target="_new">
            <span class="link-link ml-2"><i class='fas fa-link'></i> LinkedIn</span>
          </a>
        </div>
        <div class="col-10 my-2">
          <a href="https://researchmap.jp/yushisato/?lang=en" target="_new">
            <span class="link-link ml-2"><i class='fas fa-link'></i> researchmap</span>
          </a>
        </div>        
        <div class="col-10 my-2">
          <a href="https://scholar.google.co.jp/citations?user=AO879_cAAAAJ" target="_new">
            <span class="link-link ml-2"><i class='fas fa-link'></i> Googole Scholar</span>
          </a>
        </div>
        <div class="col-10 my-2">
          <a href="https://www.sens.sys.es.osaka-u.ac.jp/" target="_new">
            <span class="link-link ml-2"><i class='fas fa-link'></i> Sato Lab</span>
          </a>
        </div>
        <div class="col-10 my-2">
          <a href="https://myextendedhand.jimdo.com/en-home-1/" target="_new">
            <span class="link-link ml-2"><i class='fas fa-link'></i> ExtendedHand</span>
          </a>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="mb-5"></div>