<div class="container mb-4">

  <!-- Image size should be 1300px * 540px -->
  <div id="home-photo" class="container">
    <img class="d-block w-100" src="images/home/home_photo.png" alt="佐藤優志のホームページ'">
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-3">News
        <hr />
      </h3>
    </div>
  </div>


  <div id="news" class="news-body ml-2">
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2021.6.4</div>
      <div class='col-md-10'><a class='news-link' href='https://www.ist.osaka-u.ac.jp/japanese/campus-life/fellowship.html'
          target='_new'>分野横断イノベーションを創造する情報人材育成フェローシップ</a>に採用されました。
      </div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2021.4.1</div>
      <div class='col-md-10'><a class='news-link' href='https://www.es.osaka-u.ac.jp/ja/index.html'
          target='_new'>大阪大学大学院基礎工学研究科</a>博士後期課程に進学しました。
      </div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2021.3.24</div>
      <div class='col-md-10'>大阪大学大学院基礎工学研究科賞を受賞しました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2020.12.15</div>
      <div class='col-md-10'>IEEE関西支部より第17回IEEE関西支部学生研究奨励賞を受賞しました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2020.3.25</div>
      <div class='col-md-10'><a class='news-link' href='https://www.iscie.or.jp/about/award'
          target='_new'>システム制御情報学会</a>より2020年度学会賞「奨励賞」を受賞しました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2019.8.24-9.7</div>
      <div class='col-md-10'><a class='news-link' href='https://www.huawei.com/jp/sustainability/csr-news/hw_20190912'
          target='_new'>HUAWEI Seeds for the Futureプログラム</a>に参加しました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2019.6.7</div>
      <div class='col-md-10'><a class='news-link' href='https://www.yoshimurafoundation.org/'
          target='_new'>吉村財団</a>の第7期奨学生に採択されました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2019.5.24</div>
      <div class='col-md-10'><a class='news-link' href='https://sci19.iscie.or.jp/award/'
          target='_new'>第63回システム制御情報学会研究発表講演会</a>にて学生発表賞を受賞しました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2019.4.1</div>
      <div class='col-md-10'><a class='news-link' href='https://www.humanware.osaka-u.ac.jp/'
          target='_new'>ヒューマンウェアイノベーション博士課程プログラム</a>の7期生に選出されました。</div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2019.4.1</div>
      <div class='col-md-10'><a class='news-link' href='https://www.es.osaka-u.ac.jp/ja/index.html'
          target='_new'>大阪大学大学院基礎工学研究科</a>博士前期課程に進学しました。
      </div>
    </div>
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>2019.3.3</div>
      <div class='col-md-10'><a class='news-link' href='https://www.osaka-u.ac.jp/ja/news/topics/2019/03/1301'
          target='_new'>第8回サイエンス・インカレ</a>にてファーウェイ賞を受賞しました。</div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-4">Links
        <hr />
      </h3>
    </div>
  </div>

  <div id="link" class="news-body ml-1">
    <div class="row">
      <div class="col-10 my-2">
        <a href="https://github.com/youseegreen" target="_new">
          <span class="link-link ml-2"><i class='fas fa-link'></i> GitHub</span>
        </a>
      </div>
      <div class="col-10 my-2">
        <a href="https://scholar.google.co.jp/citations?user=AO879_cAAAAJ" target="_new">
          <span class="link-link ml-2"><i class='fas fa-link'></i> Googole Scholar</span>
        </a>
      </div>
      <div class="col-10 my-2">
        <a href="https://www.sens.sys.es.osaka-u.ac.jp/" target="_new">
          <span class="link-link ml-2"><i class='fas fa-link'></i> 研究室</span>
        </a>
      </div>
      <div class="col-10 my-2">
        <a href="https://www.extendedhand.net/" target="_new">
          <span class="link-link ml-2"><i class='fas fa-link'></i> 研究ページ</span>
        </a>
      </div>
    </div>
  </div>

</div>

<div class="mb-5"></div>