<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h3 class="headline">Publication / 発表業績
        <hr />
      </h3>
    </div>
  </div>

  <div id="publication">

    <div class="row">
      <div class="col">
        <!--
        <h3 class="publications-title"><i class="fas fa-award"></i> Award / 受賞-->
        <h3 class="publications-title"><i class="fas fa-award"></i> 受賞
          <hr />
        </h3>
      </div>
    </div>

    <div id="award">
      <div class="publications-body">
        <ol>
          <li>2020年度学会賞「奨励賞」 (<b>佐藤優志</b>，田辺育暉，森田耕平，プンポンサノン
            パリンヤ，松倉悠，岩井大輔，佐藤宏介，"投影バーチャルハンドにおける疑似触覚フィードバックによる接触感呈示"，システム制御情報学会)，2020年3月受賞.</li>
          <li>SCI学生発表賞 (<b>佐藤優志</b>，田辺育暉，森田耕平，プンポンサノン
            パリンヤ，松倉悠，岩井大輔，佐藤宏介，"投影バーチャルハンドにおける疑似触覚フィードバックによる接触感呈示"，システム制御情報学会)，2019年5月受賞.</li>
          <li>ファーウェイ賞 (<b>佐藤優志</b>，"バーチャルハンドのPseudo-Haptic Feedbackによる材質感呈示手法"，第8回サイエンス・インカレ)，2019年3月受賞.</li>
        </ol>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h3 class="publications-title mt-4"><i class="fas fa-book-open"></i> 論文誌
          <hr />
        </h3>
      </div>
    </div>

    <div id="journal">
      <div class="publications-body">
        <ol>
          <li><b>Yushi Sato</b>, Takefumi Hiraki, Naruki Tanabe, Haruka Matsukura, Daisuke Iwai, and Kosuke Sato,
            "Modifying Texture Perception with Pseudo-Haptic Feedback for a Projected Virtual Hand Interface," <i>IEEE
              Access</i>, Vol. 8, pp. 120473-120488, 2020.</li>
        </ol>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h3 class="publications-title mt-4"><i class="fas fa-chalkboard-teacher"></i> 国際会議
          <hr />
        </h3>
      </div>
    </div>

    <div id="international_conference">
      <div class="publications-body">
        <ol>
          <li><b>Yushi Sato</b>, Naruki Tanabe, Kohei Morita, Takefumi Hiraki, Parinya Punpongsanon, Haruka Matsukura,
            Daisuke Iwai, and Kosuke Sato, "Pseudo-Haptic Feedback in a Projected Virtual Hand for Tactile Perception of
            Textures," In <i>Adjunct Proceedings of the 2019 IEEE World Haptics Conference (WHC 2019)</i>,
            pp.WP1P.09:1-2,
            July, 2019.</li>
          <li><b>Yushi Sato</b>, Naruki Tanabe, Kohei Morita, Takefumi Hiraki, Parinya Punpongsanon, Haruka Matsukura,
            Daisuke Iwai, and Kosuke Sato, "Pseudo-Haptic Feedback in a Projected Virtual Hand for Tactile Perception of
            Textures," <i>The 2019 IEEE World Haptics Conference (WHC 2019)</i>, Hands-on Demos, DM2.09, July, 2019.
          </li>
          <li>Naruki Tanabe, <b>Yushi Sato</b>, Kohei Morita, Michiya Inagaki, Yuichi Fujino, Parinya Punpongsanon,
            Haruka
            Matsukura, Daisuke Iwai, and Kosuke Sato, "fARFEEL: Providing Haptic Sensation of Touched Objects using
            Visuo-Haptic Feedback," In <i>Proceedings of the 26th IEEE Conference on Virtual Reality and 3D User
              Interfaces (IEEE VR 2019)</i>, pp.1355-1356, March, 2019.</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="publications-title mt-4"><i class="fas fa-chalkboard-teacher"></i> 国内会議
          <hr />
        </h3>
      </div>
    </div>

    <div id="domestic_conference">
      <div class="publications-body">
        <ol>
          <li><b>佐藤優志</b>，佐藤宏介，"投影型拡張手の実環境接触に対する視触覚フィードバック"，ヒューマンインタフェースサイバーコロキウム，2020年10月発表予定．</li>
          <li><b>佐藤優志</b>，平木剛史，松倉悠，岩井大輔，佐藤宏介，"投影型拡張手インタラクションに対する深層学習を用いた触覚フィードバック推定"，第25回日本バーチャルリアリティ学会大会，pp.
            3B2-1:1-3，2020年9月．
          </li>
          <li><b>佐藤優志</b>，平木剛史，田辺育暉，松倉悠，岩井大輔，佐藤宏介，"投影バーチャルハンドインタフェースへの疑似触覚の適用に関する一考察"，第60回複合現実感研究会(SIG-MR)，pp.
            MR2020-3:1-4, 2020年1月．</li>
          <li><b>佐藤優志</b>，平木剛史，田辺育暉，松倉悠，岩井大輔，佐藤宏介，"投影手インタフェースの疑似触覚フィードバックによる材質感呈示手法"，質感のつどい第5回公開フォーラム（ポスター発表），2019年12月．
          </li>
          <li><b>佐藤優志</b>，田辺育暉，森田耕平，プンポンサノン
            パリンヤ，松倉悠，岩井大輔，佐藤宏介，"投影バーチャルハンドにおける疑似触覚フィードバックによる接触感呈示"，第63回システム制御情報学会研究発表講演会講演論文集(SCI'19)，pp.
            1367-1374，2019年5月．</li>
          <li>森田耕平，田辺育暉，<b>佐藤優志</b>，プンポンサノン
            パリンヤ，松倉悠，岩井大輔，佐藤宏介，"頭部方向を用いた投影型拡張仮想手の操作範囲の拡張"，第63回システム制御情報学会研究発表講演会講演論文集(SCI'19)，pp. 1375-1381，2019年5月．</li>
          <li><b>佐藤優志</b>，"バーチャルハンドのPseudo-Haptic Feedbackによる材質感呈示手法"，第8回サイエンス・インカレ研究発表会要約集，発表番号47，p. 53，2019年3月．</li>
          <li><b>佐藤優志</b>，西田茂生，"曲面多色像ホログラムの開発"，第24回精密工学会学生会員卒業研究発表講演会論文集(JSPE'17)，pp. 41-42，2017年3月．</li>
        </ol>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <h3 class="publications-title mt-4"><i class="fas fa-laptop"></i> その他・Web報道
          <hr />
        </h3>
      </div>
    </div>

    <div id="survey">
      <div class="publications-body">
        <ol>
          <li>Seamless (<a href="https://shiropen.com/seamless/farfeel" style="word-break:break-all;"
              target="_new">https://shiropen.com/seamless/farfeel</a>)</li>
          <li>MoguraVR (<a href="https://www.moguravr.com/world-haptics-conference-2019" style="word-break:break-all;"
              target="_new">https://www.moguravr.com/world-haptics-conference-2019</a>)</li>
        </ol>
      </div>
    </div>

  </div>
</div>

<div class="mb-5"></div>