.form-inline {
  margin: 0px;
}

.form-control {
  width: 90%;
}

.custom-button {
  cursor : pointer;
}

.publications-title{
  font-size: 25px;
}

.publications-body{
  font-size: 17px;
}

li{
  margin-bottom: 1em;
}

a
{
  color: #058c36;
  text-decoration: none;
}

a:link
{
  color: #058c36;
  text-decoration: none;
}

a:visited
{
  color: #058c36;
  text-decoration: none;
}

a:hover
{
  color: #005920;
  text-decoration: underline dotted;
}