<div class="container">
    <div class="row mb-5">
      <div class="col">
        <h3 class="headline">Publications
          <hr />
        </h3>
      </div>
    </div>
  
    <div id="publication">
  
      <div class="row">
        <div class="col">
          <h3 class="publications-title"><i class="fas fa-award"></i> Award
            <hr />
          </h3>
        </div>
      </div>
  
      <div id="award">
        <div class="publications-body">
          <ol>
            <li>Best Paper Honorable Mention Award, IEEE VR 2025 Workshops VR-HSA, 2025.</li>
            <li>Interactive Presentation Award (PC Nomination), IPSJ INTERACTION, 2023.</li>
            <li>Student Research Award, IEEE Kansai Section, 2020.</li>
            <li>Encouragement Award, The Institute of Systems, Control and Information Engineers, 2020. </li>
            <li>SCI Student Presentation Award, The Institute of Systems, Control and Information Engineers, 2020. </li>
            <li>Huawei Award, The 8th Science Intercollege, 2019.</li>
          </ol>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col">
          <h3 class="publications-title mt-4"><i class="fas fa-book-open"></i> Journal
            <hr />
          </h3>
        </div>
      </div>
  
      <div id="journal">
        <div class="publications-body">
          <ol>
            <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Responsive-ExtendedHand: Adaptive Visuo-Haptic Feedback Recognizing Object Property with RGB-D Camera for Projected Extended Hand," <i>IEEE Access</i>, Vol. 12, pp. 38247-38257, 2024. <a href="https://ieeexplore.ieee.org/document/10466568" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
            <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Sound Texture Feedback for a Projected Extended Hand Interface," <i>IEEE Access</i>, Vol. 12, pp. 27673-27682, 2024. <a href="https://ieeexplore.ieee.org/document/10440090" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
            <li>Yoshihiro Okamoto, <b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Haptic Augmentation to Distant Object with Laser Speckle Vibrometer at Projected Virtual Hand," Transactions of the Virtual Reality Society of Japan, Vol. 28, No. 3, pp. 165-174, 2023 (Japanese). <a href="https://www.jstage.jst.go.jp/article/tvrsj/28/3/28_165/_article/-char/ja" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
            <li>Akira Watanabe, <b>Yushi Sato</b>, Takuya Uchida, Daisuke Iwai, and Kosuke Sato, "A Minimal Representation and Hovering-and-Contact Presentation of Contour-Based Projected Hand by Laser Scanning Projector," Transactions of the Virtual Reality Society of Japan, Vol. 27, No. 2, pp. 152-162, 2022 (Japanese). <a href="https://www.jstage.jst.go.jp/article/tvrsj/27/2/27_152/_article/-char/ja/" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
            <li><b>Yushi Sato</b>, Takefumi Hiraki, Naruki Tanabe, Haruka Matsukura, Daisuke Iwai, and Kosuke Sato, "Modifying Texture Perception with Pseudo-Haptic Feedback for a Projected Virtual Hand Interface," <i>IEEE Access</i>, Vol. 8, pp. 120473-120488, 2020. <a href="https://ieeexplore.ieee.org/document/9130660" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          </ol>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col">
          <h3 class="publications-title mt-4"><i class="fas fa-chalkboard-teacher"></i> International Conference
            <hr />
          </h3>
        </div>
      </div>
  
      <div id="international_conference">
        <div class="publications-body">
          <ol>
          <li>Ao Ishikawa, <b>Yushi Sato</b>, Kosuke Sato, and Daisuke Iwai, "Influence of a Visual Cue and Agency on the Ventriloquism Effect for a Projected Extended Hand," <i>IEEE International Symposium on Mixed and Augmented Reality (ISMAR)</i>, September, 2025. (TBA)</li>
          <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Shadow Effects for Representing Hovering-and-Contact States of a Projected Hand in Spatial Augmented Reality," In <i>Proceedings of the 32nd IEEE Conference on Virtual Reality and 3D User Interfaces Abstracts and Workshops (IEEE VRW 2025)</i>, pp. 790-794, Match, 2025. <a href="https://ieeexplore.ieee.org/document/10972759" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          <li>Shun Hanai, Yuto Takeuchi, <b>Yushi Sato</b>, Yoshihiro Okamoto, Daisuke Iwai, and Kosuke Sato, "Haptic Augmentation by a Wrist Mounted Device with Laser Speckle Vibration Sensing and Hand Projection," In <i>Proceedings of the 32nd IEEE Conference on Virtual Reality and 3D User Interfaces Abstracts and Workshops (IEEE VRW 2025)</i>, pp. 802-806, Match, 2025. <a href="https://ieeexplore.ieee.org/abstract/document/10972473" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          <li><b>Yushi Sato</b>, Daisuke Iwai, and Kosuke Sato, "Pseudo Tactile Feedback for Extended Hand Users," In <i>Proceedings of the 31st International Display Workshops (IDW 2024)</i>, pp. 920-922, December, 2024. (invited) <a href="https://pub.confit.atlas.jp/en/event/idw2024/presentation/PRJ3-02" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          <li>Naoya Yoshimura, <b>Yushi Sato</b>, Yuta Kageyama, Jun Murao, Satoshi Yagi, and Parinya Punpongsanon, "Hugmon: Exploration of Affective Movements for Hug Interaction using Tensegrity Robot," In <i>Proceedings of the 2022 ACM/IEEE International Conference on Human-Robot Interaction (HRI 2022)</i>, pp. 1105-1109, March, 2022. <a href="https://dl.acm.org/doi/abs/10.5555/3523760.3523944" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          <li><b>Yushi Sato</b>, Naruki Tanabe, Kohei Morita, Takefumi Hiraki, Parinya Punpongsanon, Haruka Matsukura, Daisuke Iwai, and Kosuke Sato, "Pseudo-Haptic Feedback in a Projected Virtual Hand for Tactile Perception of Textures," In <i>Adjunct Proceedings of the 2019 IEEE World Haptics Conference (WHC 2019)</i>, pp.WP1P.09:1-2, July, 2019.</li>
          <li><b>Yushi Sato</b>, Naruki Tanabe, Kohei Morita, Takefumi Hiraki, Parinya Punpongsanon, Haruka Matsukura, Daisuke Iwai, and Kosuke Sato, "Pseudo-Haptic Feedback in a Projected Virtual Hand for Tactile Perception of Textures," <i>The 2019 IEEE World Haptics Conference (WHC 2019)</i>, Hands-on Demos, DM2.09, July, 2019.</li>
          <li>Naruki Tanabe, <b>Yushi Sato</b>, Kohei Morita, Michiya Inagaki, Yuichi Fujino, Parinya Punpongsanon, Haruka Matsukura, Daisuke Iwai, and Kosuke Sato, "fARFEEL: Providing Haptic Sensation of Touched Objects using Visuo-Haptic Feedback," In <i>Proceedings of the 26th IEEE Conference on Virtual Reality and 3D User Interfaces (IEEE VR 2019)</i>, pp.1355-1356, March, 2019. <a href="https://ieeexplore.ieee.org/document/8798195" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3 class="publications-title mt-4"><i class="fas fa-user-graduate"></i> Doctoral Dissertation
            <hr />
          </h3>
        </div>
      </div>

      <div id="doctoral_dissertation">
        <div class="publications-body">
          <ol>
            <li><b>Yushi Sato</b>, "Pseudo Tactile Feedback for Extended Hand Users," Graduate School of Engineering Science, Osaka University, Sep. 2024. <a href="https://doi.org/10.18910/98682" target="_blank">[pdf<i class="fas fa-file-pdf"></i>]</a></li>
          </ol>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="mb-5"></div>