<div class="container">
  <div class="project-title-layout">
    <h6 class="project-title-date">2021-07-08</h6>
    <h1 class="project-title">
      Hugbot : ハグインタラクションにおけるロボットの動き方によるコミュニケーション手法の調査
      <hr />
    </h1>

    <h3 class="project-title-keywords">Keywords : hug interaction, emotion</h3>
    <h2 class="project-title-abstract">
      近年家庭用の癒しロボットの開発や実用化がますます進んできています。
      これらの多くの癒しロボットでは、ユーザがロボットの顔の表情や仕草を見たり（視覚）、
      ロボットと喋って会話する（聴覚）ことで、 ユーザ・ロボット間のコミュニケーションを実現します。
      一方、ユーザがロボットをハグする際は、ユーザはロボットの動きを身体で感じる（触覚）ことができますが、 ロボットの動きに対しユーザがどのような印象を抱くのかはまだ未解明なことが多いです。
      本研究ではハグインタラクション中でも様々な動作が行えるロボットを用いて、ロボットの動作パターンの違いにより、 ロボットの嬉しいや悲しいといった感情をユーザに伝達できるかを調査します。
    </h2>

    <div class="project-image-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="project-image">
            <img src="images/projects/hugbot.gif" style="width: 95%; max-width: 560px;">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="project-body-layout">

    <div class="project-section">
      <h3 class="project-sec-title">
        Publications
        <hr />
      </h3>

      <div class='project-body'>
        <ul>
          <li><b>佐藤優志</b>，吉村直也，影山雄太，村尾淳，八木聡明，プンポンサノンパリンヤ，"テンセグリティ構造を有するハグ・インタラクション用ロボットの開発"，WISS 2021 (予稿なしデモポスター)，発表番号: 2-A09，2021．
          <li>Naoya Yoshimura, <b>Yushi Sato</b>, Yuta Kageyama, Jun Murao, Satoshi Yagi, and Parinya Punpongsanon, "Hugmon: Exploration of Affective Movements for Hug Interaction using Tensegrity Robot," <i>HRI 2022 (The Late-Breaking Reports)</i>, (accepted).</li>
        </ul>
      </div>
    </div>
  </div>
</div>